<h1><%= @snack.name %></h1>

<h2><%= @snack.snack_type %></h2>
<h3>Healthy? <%= @snack.healthy ? "Eat Me All The Time" : "Sometimes Food" %></h3>
<h3>Refridgerated? <%= @snack.refridgerated ? "Keep me cold" : "Can be kept anywhere" %></h3>
<h3>Rare? <%= @snack.rare ? "Super rare" : "Find me at walmart" %></h3>